.App {
  text-align: center;
}

.PostListContainer {
  background-color: aquamarine; 
}

.PostList {
  background-color: blueviolet;
}

.Post {
  background-color: pink; 
  padding: 10px;
  margin: 5px; 
}

.App-link {
  color: #61dafb;
}

