.App {
  text-align: center;
}

.PostListContainer {
  background-color: aquamarine; 
}

.PostList {
  background-color: blueviolet;
}

.Post {
  background-color: blue;
}

.App-link {
  color: #61dafb;
}

