.App {
  font-family: verdana, Arial, Helvetica, Sans-serif;
  
}

h2 {
  font-size: .90em;
  color: #818384;
}

h3 {
  font-size: .75em;
  color: 818384;
}

h4 {
  font-size: .5em;
  color: #818384;
}

a:link {
  text-decoration: none;
  color: #D4D7D9;
}


a:hover {
  text-decoration: underline;
}

.PostListContainer {
  background-color: #1A1A1B; 
}

.PostList {
  background-color: #030303;
  padding: 2.5px;
}

.SubredditSearch {
  margin: 0px;
  padding: 10px;
}

.Post {
  background-color: #1A1A1B; 
  padding: 10px;
  margin: 5px; 
}



